<h1>Post#resultado</h1>
<h1>Mensaje de registro de Post</h1>
<p>Find me in app/views/post/resultado.html.erb</p>


<h2>Registrado Ok</h2>

<h2>Registrado Ok</h2>

Último Post (id): <%= @last_post.id %><br>
Último Post (author): <%= @last_post.author %><br>
Último Post (content): <%= @last_post.content %><br><br >
<hr>
<br >
<br >
<%= link_to "volver a crear Post", post_index_path %><br >
